.hero-section {
  position: relative;
  overflow: hidden;
  background-image: url("./assets/facial.jpg");
  background-position: center;
  background-size: cover;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  filter: blur(2px);
  z-index: 0;
}

.hero-section h1,
.hero-section p {
  position: relative;
  z-index: 1;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .top-nav {
    margin: 0 auto;
  }

}

/* @media only screen and (min-width: 1440px) {
  /* .features {
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    margin: 3rem auto 0;
  } 

} */